<div class="modal-header">
	<h3 class="modal-title"><i class="icon-book icon-black icon-large"></i>New or Open Storybook App...</h3>
</div>

<div id="storybooks" class="modal-body">
	<ul id="storybook-list"></ul>
</div>

<div class="modal-footer">
	<span class="btn btn-success fileinput-button new-storybook-btn">
		<i class="icon-plus icon-white"></i>
		<span>New Storybook App...</span>
	</span>
	
	<form class="form-inline left storybook-form" style="display:none">
	  <a href="#" class="close left">x</a>
	  <input type="text" class="input-medium storybook-title" name="storybook-title" placeholder="Storybook Title">
    <button type="submit" class="btn">Create App</button>
  </form>

	<a href="/users/sign_out" data-method="post" rel="nofollow" class="btn">Exit</a>
  <div class="btn btn-primary open-storybook disabled">
		<i class="icon-folder-open icon-white"></i>
		Open
	</div>
</div>