Your application is ready to test on an iOS device (iPhone, iPad, iPad mini, or iPod touch).
\
To begin testing your application, visit the following URL on your iOS mobile device.
\
= raw(@index_url)
\
\
NOTE: The URL above will expire and become inaccessible in about an hour.