Hello,
%br
%br
Please confirm your email address by clicking on the link below
%br
%br
= link_to(new_confirmation_url(:confirmation_token => @user.confirmation_token), new_confirmation_url(:confirmation_token => @user.confirmation_token))
%br
%br
Sincerely,
%br
%br
Authorly
