Open following URL in your Device to install the compiled application.


= raw(@index_url)


To download the IPA file for your compiled application, click on following link.


= raw(@ipa_url)


Beware that above URLs will expire in about an hour.
