At last, your mobile app is ready to test! An iOS mobile device (iPhone, iPad, iPad mini, or iPod touch) will be needed to continue.
%br
%br
To test your app, visit the URL below in your iOS device's web browser and proceed accordingly.
%br
%br
= raw(@index_url)
%br
%br
