At last, your mobile app is ready to test! An iOS mobile device (iPhone, iPad, iPad mini, or iPod touch) will be needed to continue.

To test your app, visit the URL below in your iOS device's web browser and proceed accordingly.

= raw(@index_url)
