Hello,

= raw("You've been invited to use Authorly. Use the login information below to sign in at " + link_to(sign_in_url, sign_in_url) + ".")

= @user.email

= @pass

You can use our "Forgot your password?" feature to reset your password.
