Hello,
\n\n
You've been invited to use Authorly. Use the login information below to sign in at @url.
\n\n
= @user.email
= @pass
\n\n
You can use our "Forgot your password?" feature to reset your password.
\n\n
Sincerely,\n
Authorly