= @user.email


You are invited to create storybooks with Authorly. Use the password given below to sign in.


= @pass


You can use our "Forgot your password?" feature to reset your password.


Authorly
