Hello,
%br
%br
= raw("You've been invited to use Authorly. Use the login information below to sign in at " + link_to(sign_in_url, sign_in_url) + ".")
%br
%br
= @user.email
%br
%br
= @pass
%br
%br
You can use our "Forgot your password?" feature to reset your password.
%br
%br
Sincerely,
%br
%br
Authorly
