%form#fileupload{:action => "server/php/", :enctype => "multipart/form-data", :method => "POST"}
  / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
  .row.fileupload-buttonbar
    .span7
      / The fileinput-button span is used to style the file input field as button
      %span.btn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span Add files...
        %input{:multiple => "", :name => "files[]", :type => "file"}
      %button.btn.btn-primary.start{:type => "submit"}
        %i.icon-upload.icon-white
        %span Start upload
      %button.btn.btn-warning.cancel{:type => "reset"}
        %i.icon-ban-circle.icon-white
        %span Cancel upload
      %button.btn.btn-danger.delete{:type => "button"}
        %i.icon-trash.icon-white
        %span Delete
      %input.toggle{:type => "checkbox"}
    .span5
      / The global progress bar
      .progress.progress-success.progress-striped.active.fade
        .bar{:style => "width: 0%; "}
  / The loading indicator is shown during image processing
  .fileupload-loading
  %br
    / The table listing the files available for upload/download
    %table.table.table-striped
      %tbody.files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
        %tr.template-download.fade.in{:style => "height: 53px; "}
          %td.name
            filename1.png — Position: (x, y)   
          %td{:colspan => "2"}
          %td.delete
            %button.btn.btn-danger{"data-type" => "DELETE", "data-url" => "http://jquery-file-upload.appspot.com/AMIfv97YiWYAMPv-iV_PYm4R9F9HzW_cMD-9JJ-2PDvteRFibXJlxT1Iw6-VbjYHsoXsJUPTZlqWLmpNqlN1YszxyoGecxb3RzjdJzHMGb6IdBS-WgmWl8XSNPHuGAoMDxJXTFbEJ-f0O1bDGQDAY-b6iVIyAlqiEYP_2YIcD8aTr_j4sSp5eYA/Screen%20Shot%202012-04-04%20at%208.52.39%20PM.png"}
              %i.icon-trash.icon-white
              %span Delete
            %input{:name => "delete", :type => "checkbox", :value => "1"}
        %tr.template-download.fade.in{:style => "height: 71px; "}
          %td.name
            filename. — Position: (x, y) 
          %td{:colspan => "2"}
          %td.delete
            %button.btn.btn-danger{"data-type" => "DELETE", "data-url" => "http://jquery-file-upload.appspot.com/AMIfv94MqEZMbaKtxq03HPTLiUeUnKKrclr-G5albc-bGpTn8g89qCKGMJ_WViYha2o5TyossR0De93AAgdWDlLh4__HKWASjZC0TEUFan8doPtno9n6ANdyMYIE5a09kuwkKcpeKK5ZFgA2Tp7kJsKvqzFkTxJfLPI-iWLCCNmehOqXo7tHa70/Screen%20Shot%202012-04-04%20at%2011.23.47%20AM.png"}
              %i.icon-trash.icon-white
              %span Delete
            %input{:name => "delete", :type => "checkbox", :value => "1"}
        %tr.template-download.fade.in{:style => "height: 53px; "}
          %td.name
            filename3.png — Position: (x, y) 
          %td{:colspan => "2"}
          %td.delete
            %button.btn.btn-danger{"data-type" => "DELETE", "data-url" => "http://jquery-file-upload.appspot.com/AMIfv94cE4TtQWQUnSVMsv5hzwHDDM1u5c0Mk4uOXTEDv4QLa8HnrGzwwXuB_wL7i5thms9pIjGmmOMM-DKeXCtAeJBRM-YVYX6690TBbwcWZtnRcewldMJhZP7t6P7PtzEccj-S-YlB1ZaHl9Dcf-pCCqVM7eR_q3aJRw1mNVbYMgJzOzpS46Y/Screen%20Shot%202012-04-04%20at%2011.25.45%20AM.png"}
              %i.icon-trash.icon-white
              %span Delete
            %input{:name => "delete", :type => "checkbox", :value => "1"}