!!!

%html
  %head
    = javascript_include_tag 'simulator'

    :css
      html, body {
        margin: 0;
        padding: 0;
        border: 0;
      }

      #simulator-canvas {
        background: #F73;
        display: block;
        width: 800px;
        height: 600px;
      }

  %body
    %canvas{id: 'simulator-canvas', width: 1024, height: 768}
      %p Your browser doesn't support the technology required to run this application.

    :javascript
      $(function () {
        // FIXME what if there's 2 simulators?
        Sim.run(parent.$('.simulator-frame').data('json'))
      })

    %div
      %button{id: 'sim-prev-page'}
        &lt;- Previous

      /%span{class: "page-numbers"}
      /  Page 0 of 0

      %button{id: "sim-next-page"}
        Next -&gt;

