%h1 Your browser is not supported.

%p
  Please use&nbsp;
  %a{href: 'http://www.mozilla.org/firefox'}> Firefox
  ,
  %a{href: 'http://www.apple.com/safari'} Safari
  or&nbsp;
  %a{href: 'www.google.com/chrome' }> Chrome
  \.

