Storybook with following details was published to subscription application:

Storybook ID:
= @storybook.id

Title
= @storybook.title

Owner Email
= @storybook.user.email

Owner ID
= @storybook.user_id
