%script
  var cc = cc = cc || {};

  cc.TransitionScene = function () {
  };
= javascript_include_tag 'simulator'
%canvas{id: 'simulator-canvas', width: 480, height: 320}
  %p Your browser doesn't support the technology required to run this application.
