#modal.modal
  .modal-header
    = link_to 'x', '#', :class => 'close', 'data-dismiss' => 'modal'
    %h3#modal-title
      = image_tag 'loading.gif'
  %div#main-modal.modal-body
    = image_tag 'loading.gif'
  .modal-footer
    %a.btn{ :href => "#", :data => { :dismiss => 'modal' }} Close
    = link_to "Save Changes", "#", :class => 'btn btn-primary'
