#myModal.modal
  .modal-header
    = link_to 'x', '#', :class => 'close', 'data-dismiss' => 'modal'
    %h3
      Video Library
  .modal-body
    = render 'media/file_upload'
  .modal-footer
    = link_to "Close", "#", :class => 'btn'
    = link_to "Save Changes", "#", :class => 'btn btn-primary'