.asset-library-image {
  display: inline-block;
  float: left;
  width: 50px;
  height: 61px;
  margin: -1px 10px 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  &.sound {
    background-image: url(/assets/audio-icon.png);
  }
}

// drag a sprite to the canvas
.asset.ui-draggable-dragging {
  .asset-library-image;
  .filename {
    display: none;
  }
}

#asset-library-sidebar {
  min-width: 330px;
  width: 320px;
  left: 0 !important;
  margin-top: 105px;
  padding: 0;
  font-size: 11px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;

  #asset-type-filter,
  #active-uploads,
  #asset-list,
  #asset-sorting {
    padding: 0 px 0 5px;
    select {
      margin-left: 5px;
      font-size: 11px;
    }
  }

  /*
    Filter to show a single file type from list
  */
  #asset-type-filter {
    ul.nav.nav-pills {
      margin-bottom: 20px;
      width: 100%;

      li {
        width: 25%;
        text-align: center;

        a {
          font-size: 10px;
          padding: 5px 10px 5px;
        }
      }
    }
  }

  /*
    List of active uploads (uploading in-progress)
  */
  #active-uploads {
    clear:both;

    ul {
      margin: auto 0;

      li {
        .round-corners();

        height: 60px;
        list-style: none;
        margin: 0 10px 8px 10px;
        background-color: #BCF4B5;

        table {
          width: 100%;
          height: 100%;

          tr {
            td.thumb {
              width: 75px;
            }

            td.cancel-upload-col {
              width: 30px;
            }

            td {
              height: 40px;
              vertical-align: middle;
              text-align: center;

              a {
                margin-top: -2px;
              }

              a.cancel-upload {
                position: relative;
                top: -3px;
              }

              a.cancel-upload:hover {
                opacity: 1;
              }

              .progress {
                margin-top: 19px;
              }

              img.asset-thumb {
                max-height:100%;
                max-width:100%;
              }
            }
          }
        }
      }
    }
  }

  /*
    Dropdown sorting options for assets
  */
  #asset-sorting {
    margin: 10px 15px 5px 0;
    text-align: right;

    .btn-mini.selected {
      width: 110px;
      text-align: left;
    }

    .dropdown-menu {
      .scale(0.75);

      -webkit-transform-origin: 1 1;
      top: 5px;
      left: -12px !important;
    }

    .dropdown-label {
      position: relative;
      bottom: -3px;
    }
  }

  /*
    List of media assets on sidebar
  */
  #asset-list {
    margin: auto;

    li {
      .round-corners();

      list-style: none;
      font-family: 'Arial Black';
      font-size: 10px;
      width: 82px;
      display: none;
      position: relative;

      &:hover {
        cursor: pointer;
        .player {
          display: block;
        }
        .delete {
          display: block;
        }
        .asset.sound {
          opacity: 0.4;
        }
      }

      .asset {
        .asset-library-image;
        margin-left: 16px;
      }

      .filename {
        position: absolute;
        bottom: 0;
      }

      .delete {
        display: none;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 17px;
        height: 17px;
        margin: 4px 3px 0;
        opacity: 0.7;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: asset-url('red-minus.png');
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .player {
        position: absolute;
        top: 20px;
        left: 35px;
        display: none;
      }

    }

    &.images li.image, &.sounds li.sound, &.videos li.video {
      display: inline-block;
    }

  }

  /*
    Footer area fixed to bottom of asset library sidebar.
  */
  #asset-sidebar-sticky-footer {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    width: 320px;
    padding-top: 5px;
    background-color: #f0f0f0;

    #asset-text-search {
      display: inline-block;
      float: right;
      margin-right: 3px;

      input {
        height: 20px !important;
      }
    }

    .select-file {
      float: left;
      position: relative;
      margin: 0 0 0 3px;

      .btn {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
      }

      input {
        position: relative;
        width: 75px;
        text-align: right;
        -moz-opacity: 0;
        filter: 'alpha(opacity: 0)';
        opacity: 0;
        z-index: 2;
      }
    }
  }

  /*
    Hide elements which are not implemented yet.
   */
  #active-uploads,
  #asset-text-search {
    display: none;
  }
}
