.ui-resizable-w {
  cursor: col-resize;
}

.asset-library-image {
  display: inline-block;
  float: left;
  width: 50px;
  height: 61px;
  margin: -1px 10px 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  &.sound {
    background-image: url(/assets/audio-icon.png);
  }
  &.video {
    background-image: url(/assets/video-icon.png);
  }
}

.removable {
  .delete {
   display: none;
   position: absolute;
   right: 4px;
   top: 4px;
   width: 17px;
   height: 17px;
   margin: 4px 3px 0;
   opacity: 0.7;
   background-size: 100%;
   background-repeat: no-repeat;
   background-image: asset-url('red-minus.png');
   cursor: pointer;

   &:hover {
     opacity: 1;
   }
  }

  &:hover {
    .delete {
      display: block;
    }
  }
}

// drag a sprite to the canvas
.asset.ui-draggable-dragging {
  .asset-library-image;
  .filename {
    display: none;
  }
}

#asset-library-sidebar {
  min-width: 250px;
  left: 0 !important;
  margin-top: 105px;
  padding: 0;
  font-size: 11px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;

  #asset-type-filter,
  #active-uploads,
  #asset-list,
  #asset-sorting {
    padding: 0 px 0 5px;
    select {
      margin-left: 5px;
      font-size: 11px;
    }
  }

  /*
    Filter to show a single file type from list
  */
  #asset-type-filter {
    ul.nav.nav-pills {
      margin-bottom: 20px;
      width: 100%;

      li {
        width: 25%;
        text-align: center;

        a {
          font-size: 10px;
          padding: 5px 10px 5px;
        }
      }
    }
  }

  /*
    List of active uploads (uploading in-progress)
  */
  #active-uploads {
    clear:both;

    ul {
      margin: auto 0;

      li {
        list-style: none;
        font-family: 'Arial Black';
        font-size: 10px;
        width: 82px;
        position: relative;
        display: inline-block;
        .removable;

        .asset {
          .asset-library-image;
          margin-left: 16px;
          &.image {
            background-image: url(/assets/toolbar.png);
            background-position: -518px -9px;
            background-size: auto;
          }
        }
        .filename {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  /*
    Dropdown sorting options for assets
  */
  #asset-sorting {
    margin: 10px 15px 5px 0;
    text-align: right;

    select {
      width: 135px;
      margin-top: 3px;
      height: 22px;
    }

    .btn-mini.selected {
      width: 110px;
      text-align: left;
    }

    .dropdown-menu {
      .scale(0.75);

      -webkit-transform-origin: 1 1;
      top: 5px;
      left: -12px !important;
    }

    .dropdown-label {
      position: relative;
      bottom: -3px;
    }
  }

  /*
    List of media assets on sidebar
  */
  #asset-list-thumb-view {
    margin: auto;

    li {
      list-style: none;
      font-family: 'Arial Black';
      font-size: 10px;
      width: 82px;
      display: none;
      position: relative;
      .removable;

      &:hover {
        cursor: pointer;
        .player, &.video .control {
          display: block;
        }
        .asset.sound {
          opacity: 0.4;
        }
      }

      .asset {
        .asset-library-image;
        margin-left: 16px;
      }

      .filename {
        position: absolute;
        bottom: 0;
      }

      .player, &.video .control {
        position: absolute;
        top: 20px;
        left: 35px;
        display: none;
      }

    }

    &.images li.image, &.sounds li.sound, &.videos li.video {
      &.filter-on {
        display: inline-block;
      }
      &.filter-off {
        display: none;
      }
    }
  }

  #asset-list-table {
    table {

      thead {
        tr {
          th {
            padding-bottom: 1px;
          }

          th.asset-thumb {
            width: 35px;
            height: 40px;
          }

          th.asset-size {
            width: 28px;
          }
        }
      }

      tbody {
        tr:hover {
          td.delete-asset {
            a {
              opacity: 0.6;
              visibility: visible;
            }

            a:hover {
              opacity: 1;
            }
          }
        }

        tr {
          td {
            vertical-align: middle;
            height: 40px;
            max-width: 40px !important;
          }

          td.thumb, td.preview-link {
            text-align: center;
          }

          td.thumb {
            width:40px;

            img {
              max-height: 100%;
              max-width: 100%;
            }
          }

          td.asset-size {
            width: 40px;
            padding-right: 0;
            padding-left: 6px;
          }

          td.delete-asset {
            width: 15px;
            padding: 6px 0 0 4px;

            a {
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  /*
    Footer area fixed to bottom of asset library sidebar.
  */
  #asset-sidebar-sticky-footer {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    width: 250px;
    padding-top: 5px;
    background-color: #f0f0f0;

    #asset-text-search {
      display: inline-block;
      float: right;
      margin-right: 3px;

      input {
        height: 20px !important;

        width: 110px;
      }
    }

    .select-file {
      float: left;
      position: relative;
      margin: 0 0 0 3px;

      .btn {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
      }

      input {
        position: relative;
        width: 75px;
        text-align: right;
        -moz-opacity: 0;
        filter: 'alpha(opacity: 0)';
        opacity: 0;
        z-index: 2;
      }
    }
  }

}
