#font_toolbar {
  background-color: #FFFFFF;
  position: absolute;
  display: none;
  z-index: 10000;
  padding: 5px;
  border: solid 1px black;
  
  &:hover {
  }
  
  #bold {
    float: left;
  }
  
  .text_align {
    float: left;
    #left {
      float: left;
    }
    #center {
      float: left;
    }
    #right {
      float:left;
    }
  }
  
  .font_face {
    float:left;
    width: 185px;
  }
  
  .font_size {
    float:left;
    margin-left: 5px;
    width: 50px;
  }
  
  .colorpicker {
    margin-left: 5px;
    float: left;
  }
  
  .miniColors-trigger {
    float: left;
  }
  
  .close_x {
    cursor: pointer;
    float: left;
    //position:absolute;
    //top: 5;
    //right: 5;
  }
}