@import 'twitter/bootstrap/bootstrap';
@import 'twitter/bootstrap/responsive';
@import 'bootstrap-image-gallery.css.less';
@import 'jquery.fileupload-ui.css.less';

@import 'variables.css.less';
@import 'filemenu.css.less';
@import 'toolbar.css.less';
@import 'user_sessions.css.less';
@import 'storybooks.css.less';
@import 'scenes.css.less';
@import 'keyframes.css.less';
@import 'modals.css.less';

html, body{
  background-color: @grayDarker;
  background: asset-url('grid.png') repeat;
}

#main {
  border: none;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  background-color: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.container {
  background-color: transparent !important;
}

.span10 {
  background-image: asset-url('tablet.png');
  background-repeat: no-repeat;
  background-position: center;
  height: @appHeight + 50px;
  margin-top: 90px;
  width: 100%;
  overflow: visible;
}

.left {
  float: left;
}

// Footer
footer {
  height: 80px;
  background-color: @footerColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10 !important;
  background-image: asset-url('keyframe-list-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}

// File menu and toolbar
header {
  nav.font-menu {
    .gradient(@fileMenuBgStart, @fileMenuBgEnd);

    padding-top: 2px;
    height: @fontMenuHeight;
  }
  
  .navbar-fixed-top .container {
    width: 1125px;
  }

  .navbar-fixed-top, .navbar {
    margin-left: 0 !important;
    margin-right: none;
      z-index: 100;
  }
}

// Sidebar
.sidebar {
  .drop-shadow(1px, 0, 13px, #666);

  background-image: url('scene-list-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  background-color: @sidebarColor;
  margin-left: 0;
  margin-top: 0;
  height: 100%;
  width: 200px;
  z-index: 20 !important;
}

// Text layer - temporary
#text {
  width: 580px;
  height: 430px;
  margin: 75px 0 0 185px;
  padding: 10px;
  overflow: hidden;
}

// Forms
.bbf-date i {
  position: relative;
  left: -22px;
  top: 1px;
}

.help-inline {
  padding-top: 7px;
  font-style: italic;
}

// Bootstrap overrides
.icon-white {
  background-image: url("/assets/twitter/bootstrap/glyphicons-halflings-white.png") !important;
}

.icon-black {
  background-image: url("/assets/twitter/bootstrap/glyphicons-halflings.png") !important;
}

.progress-animated .bar {
  background: url(../assets/progressbar.gif) !important;
  filter: none;
}

.progress-success {
  position: relative;
  bottom: -8px;
  right: -24px;
}