@import 'twitter/bootstrap/bootstrap';
@import 'twitter/bootstrap/responsive';
@import 'bootstrap-image-gallery.css.less';

@import 'variables.css.less';
@import 'filemenu.css.less';
@import 'toolbar.css.less';
@import 'storybooks.css.less';
@import 'scenes.css.less';
@import 'keyframes.css.less';

// Application-wide styles
html, body{
  background-color: @darkBackground;
  background: asset-url('grid.png') repeat;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.container {
  background-color: transparent !important;
}

.content {
  background-color: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#main {
  border: none;
}

.span10 {
  background-image: asset-url('tablet.png');
  background-repeat: no-repeat;
  background-position: center;
  height: @appHeight + 50px;
  margin-top: 90px;
  width: 100%;
  overflow: visible;
}

.left {
  float: left;
}

// Modals
.modal{
  width: 920px;
  margin-left: -460px;
}

.modal h3 {
  font-size: 14px;
}

.modal .modal-footer form {
  position: relative;
  top: 8px;
}

// Footer
footer {
  height: 80px;
  background-color: @footerColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10 !important;
  background-image: asset-url('keyframe-list-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}

// Sidebar & tabs
.sidebar {
  .dropShadow(1px, 0, 13px, #666);
  position: absolute;
  left: 0;
  top: 0;
  background-color: @sidebarColor;
  margin-left: 0;
  margin-top: 0;
  height: 100%;
  width: 200px;
  z-index: 20 !important;
}

.nav-tabs {
  margin-bottom: 0px;
}

.tab-content {
  background-color: white;
  border: 1px solid #CCC;
  border-top: 0px;
  padding: 10px;
  width:  168px;
  height: 500px;
  position: relative;
  .round-corners-bottom;
}

#list-wrapper {
  position: absolute;
  bottom: 5px;
  background-color: green;
  height: 20px;
  width: 180px;
  background: asset-url('sidebar-bg-bottom.png') no-repeat center bottom;
}

// menus & toolbars
.navbar-fixed-top .container {
  width: 1125px;
}

.navbar-fixed-top, .navbar {
  margin-left: 0 !important;
  margin-right: none;
}

.navbar {
  z-index: 100;
}

.nav-tabs li a {
  color: #777;
  background-color: #CCC;
  border: 1px solid #888;
  border-bottom-color: transparent;
  cursor: default;
}

nav.toolbar ul li.toolbar-group {
  background-image: asset-url('toolbar-separator.png');
  background-repeat: no-repeat;
  background-position: right center;
}

nav.toolbar ul li.toolbar-group.last {
  background-image:none;
}

nav.file-menu ul, nav.file-menu ul li ul {
  margin-left: 0;
}

nav ul#toolbar, ul.first-toolbar-group, li.first-toolbar-group {
  margin-left: 0 !important;
}

nav.toolbar ul, nav.toolbar ul li ul {
  margin-right: 20px;
  margin-left: 20px;
}

nav.file-menu {
  height: @fileMenuHeight;
  .gradient(@fileMenuBgStart, @fileMenuBgEnd);

  a {
    color: @grayDark;
    font-size: 12px;
    text-shadow: 0px 1px 1px @grayLight;
  }

  a:hover {
    text-decoration: none;
    color: @grayDarker;
  }
}

nav.toolbar {
  height: @toolbarHeight;
  .gradient(@fileMenuBgStart, @fileMenuBgEnd);
}

nav.font-menu {
  padding-top: 2px;
  .gradient(@fileMenuBgStart, @fileMenuBgEnd);
  height: @fontMenuHeight;
}

nav.toolbar ul li {
  .horizontal-menu;
}

nav.toolbar ul li ul li {
  width: 73px;
  height: 92px;
  position: relative;
  background-image: asset-url('toolbar.png');
  .horizontal-menu;
}

nav.toolbar ul li ul {
  li.scene {
    background-position: 0 0;
  }

  li.keyframe {
    background-position: @toolbarItemWidth*-1 0;
  }

  li.edit-text {
    background-position: @toolbarItemWidth*-2 0;
  }

  li.add-image {
    background-position: @toolbarItemWidth*-4 0;
  }

  li.touch-zones {
    background-position: @toolbarItemWidth*-3 0;
  }

  li.videos {
    background-position: @toolbarItemWidth*-6 0;
  }

  li.actions {
    background-position: @toolbarItemWidth*-5 0;
  }

  li.images {
    background-position: @toolbarItemWidth*-7 0;
  }

  li.sounds {
    background-position: @toolbarItemWidth*-8 0;
  }

  li.fonts {
    background-position: @toolbarItemWidth*-9 0;
  }

  li.options {
    background-position: @toolbarItemWidth*-10 0;
  }

  li.preview {
    background-position: @toolbarItemWidth*-11 0;
  }

  li.scene.active {
    background-position: 0 @toolbarHeight;
  }

  li.keyframe.active {
    background-position: @toolbarItemWidth*-1 @toolbarHeight*2;
  }

  li.edit-text.active {
    background-position: @toolbarItemWidth*-2 @toolbarHeight*2;
  }

  li.add-image.active {
    background-position: @toolbarItemWidth*-4 @toolbarHeight*2;
  }

  li.touch-zones.active {
    background-position: @toolbarItemWidth*-3 @toolbarHeight*2;
  }

  li.videos.active {
    background-position: @toolbarItemWidth*-6 @toolbarHeight*2;
  }

  li.actions.active {
    background-position: @toolbarItemWidth*-5 @toolbarHeight*2;
  }

  li.images.active {
    background-position: @toolbarItemWidth*-7 @toolbarHeight*2;
  }

  li.sounds.active {
    background-position: @toolbarItemWidth*-8 @toolbarHeight*2;
  }

  li.fonts.active {
    background-position: @toolbarItemWidth*-9 @toolbarHeight*2;
  }

  li.options.active {
    background-position: @toolbarItemWidth*-10 @toolbarHeight*2;
  }

  li.preview.active {
    background-position: @toolbarItemWidth*-11 @toolbarHeight*2;
  }

  li.scene.disabled {
    background-position: 0 (@toolbarHeight - 2);
  }

  li.keyframe.disabled {
    background-position: @toolbarItemWidth*-1 (@toolbarHeight - 2);
  }

  li.edit-text.disabled {
    background-position: @toolbarItemWidth*-2 (@toolbarHeight - 2);
  }

  li.add-image.disabled {
    background-position: @toolbarItemWidth*-4 (@toolbarHeight - 2);
  }

  li.touch-zones.disabled {
    background-position: @toolbarItemWidth*-3 (@toolbarHeight - 2);
  }

  li.videos.disabled {
    background-position: @toolbarItemWidth*-6 (@toolbarHeight - 2);
  }

  li.actions.disabled {
    background-position: @toolbarItemWidth*-5 (@toolbarHeight - 2);
  }

  li.images.disabled {
    background-position: @toolbarItemWidth*-7 (@toolbarHeight - 2);
  }

  li.sounds.disabled {
    background-position: @toolbarItemWidth*-8 (@toolbarHeight - 2);
  }

  li.fonts.disabled {
    background-position: @toolbarItemWidth*-9 (@toolbarHeight - 2);
  }

  li.options.disabled {
    background-position: @toolbarItemWidth*-10 (@toolbarHeight - 2);
  }

  li.preview.disabled {
    background-position: @toolbarItemWidth*-11 (@toolbarHeight - 2);
  }

  li.disabled a {
    color: #888;
  }

  li.disabled:hover, li.disabled a:hover {
    cursor: default;
  }

  li.disabled a:hover, li.disabled:hover a {
    color:#888 !important;
  }

  li a {
    margin-top: 70px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 11px;
    text-shadow: 0px 1px 1px #ffffff;
    color: #333;
    width: @toolbarItemWidth;

    .horizontal-menu;
  }

  li:hover {
    cursor: pointer;
  }

  li:hover a {
    color: #000;
  }

  li a:hover {
    text-decoration:none;
  }
}

nav.file-menu ul {
  margin-left: 6px;
}

nav.file-menu ul li.parent {
  margin-top: 3px;
  height: 19px;
  .horizontal-menu;
}

nav.file-menu ul li.parent.first {
  font-weight: bold;
  position: relative;
  top: -1px;
  letter-spacing: 1px;
}

// file menu dropdowns
.navbar .dropdown-menu::before, .navbar .dropdown-menu::after {
  display: none;
}

nav.font-menu ul li.parent {
  width: 200px;
  height: 23px;
  .horizontal-menu;
}

.dropdown-toggle {
  padding: 5px 9px;
}

.dropdown.open .dropdown-toggle {
  color: white;
  background-color: transparent;
  .gradient(@fileMenuOpenBgStart, @fileMenuOpenBgEnd);
}

.dropdown-menu {
  .round-corners-bottom();
  letter-spacing: 0;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: white;
  text-decoration: none;
  text-shadow: none;
  .gradient(@fileMenuOpenBgStart, @fileMenuOpenBgEnd);
}

// text layer
#text {
  width: 580px;
  height: 430px;
  margin: 75px 0 0 185px;
  padding: 10px;
  overflow: hidden;
}

