@import 'twitter/bootstrap/bootstrap';
@import 'twitter/bootstrap/responsive';
@import 'bootstrap-image-gallery.css.less';
@import 'jquery.fileupload-ui.css.less';

@import 'variables.css.less';

@import 'filemenu.css.less';
@import 'toolbar.css.less';

@import 'user_sessions.css.less';
@import 'password_resets.css.less';

@import 'storybooks.css.less';
@import 'scenes.css.less';
@import 'keyframes.css.less';

@import 'modals.css.less';

@import 'voiceovers.css.less';

/* Widget related */
@import 'palettes.css.less';
@import 'text_widgets.css.less';
@import 'hotspots.css.less';


html, body{
  background-color: @grayDarker;
  background: asset-url('grid.png') repeat;
}

#main {
  border: none;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  background-color: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.container {
  background-color: transparent !important;
  width: 100% !important;
}

.grab {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;
}

.grabbing {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
}


//
// TODO: Tem. style, remove me when JSON export button is replaced w/ simulator!
//
button#export {
  position: absolute;
  right: 0;
  top: 0;
}


// Tablet & Builder
.canvas-column {
  background-image: asset-url('tablet.png');
  background-repeat: no-repeat;
  background-position: center;
  height: @appHeight + 50px;
  margin-top: 90px;
  width: 100%;
  text-align: center;
  overflow: visible;
}

canvas#builder-canvas {
  position: relative;
  top: 82px;
  left: 0px;
  width: 604px;
  height: 453px;
  overflow: hidden;
}

canvas {
  width: 1024px;
  height: 768px;
}

.loading {
  background-image: asset-url('loading-words.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.loading-black {
  background-image: asset-url('loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  diplay: inline-block;
}

.loading-book {
  background-image: asset-url('loading-book.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-white {
  background-image: url("/assets/twitter/bootstrap/glyphicons-halflings-white.png") !important;
}

.icon-black {
  background-image: url("/assets/twitter/bootstrap/glyphicons-halflings.png") !important;
}

.form-actions {
  margin-bottom: 0;
  text-align: right;
}

.left {
  float: left;
}

footer {
  height: 105px;
  background-color: @footerColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10 !important;
  background-image: asset-url('keyframe-list-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  nav.font-menu {
    .gradient(@fileMenuBgStart, @fileMenuBgEnd);
    .drop-shadow(0, 2px, 3px, #555);

    padding-top: 2px;
    height: @fontMenuHeight;
  }

  .navbar-fixed-top .container {
    width: 1125px;
  }

  .navbar-fixed-top, .navbar {
    margin-left: 0 !important;
    margin-right: none;
      z-index: 100;
  }
}

.sidebar {
  .drop-shadow(1px, 0, 13px, #666);

  position: absolute;
  left: 0;
  top: 0;
  background-color: @sidebarColor;
  margin-left: 0;
  margin-top: 0;
  height: 100%;
  width: 200px;
  z-index: 20 !important;
}

.large-modal {
  z-index: 10000;
  background: #eee;
  position: fixed;

  left: 50%;
  width: 80%;
  margin-left: -40%;

  top: 50%;
  height: 90%;
  margin-top: -45%;

  box-shadow: 0 10px 64px #000;
  border-radius: 8px;

  .simulator {
    width: 100%;
    height: 100%;
    position: relative;

    .simulator-frame {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}

.large-modal.simulator-modal {
  width: 832px;
  margin-left: -416px;

  height: 682px;
  margin-top: -341px;
}
