.keyframe-list {
  .clearfix();

  counter-reset: numList;
  margin: 10px 0 0 202px;
  display: inline-block;
  float: left;
  overflow-x: scroll;
  white-space: nowrap;

  li {
    .round-corners();

    display: inline-block;
    margin-left: 65px;
    margin-right: 0;
    z-index: 1000 !important;
    position: relative;
    background-color: @white;
    border: 1px solid #666;
    line-height: 150px;

    span span {
      height: 84px;
    }

    .main {
      .round-corners();
      .opacity(0.3);
      overflow: hidden;

      &, canvas {
        width: 110px;
        height: 82px;
      }

      img {
        position: relative;
        top: -35px;
      }
    }

    .keyframe-number {
      position: absolute;
      top: -3px;
      left: 5px;
      font-size: 14px;
      font-family: 'Arial Black';
    }

    .transition {
      position: absolute;
      width: 50px;
      left: -57px;
      top: 18px;
      text-align: center;
      line-height: 14px;

      input[name='animation-duration'] {
        width: 28px;
        background-color: lightgrey;
        height: 14px;
        font-size: 11px;
        padding: 0 2px 4px 5px;
        float: left;
        margin-bottom: 5px;
        margin-left: 4px;
      }

      img {
        display: block;
        width: 85%;
        height: 10px;
        margin: 0 auto;
        padding-bottom: 5px;

      }

      img:hover {
        cursor: default;
      }

      div {
        float: left;
        clear: both;
        text-align: left;
        font-size: 9px;
        margin: -4px 0 0 4px;

        span.intro-delay-text {
          position: relative;
          top: 2px;
        }

        span:last-child {
          float:left;
          clear: both;
        }
      }
    }

  }

  li.animation {
    border-color: #231;

    div {
      cursor: default;
    }
  }

  li:hover {
    .grab();
  }

  li:active {
    .grabbing();
  }

  li.active {
    border: 1px solid @slidePreviewActiveBgBegin;

    .main {
      color: #ffcc33;
      opacity: 1.0;
    }

    a.delete-keyframe {
      opacity: 0;
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 5px;
      z-index: 90 !important;
      background: asset-url('red-minus.png') no-repeat center;
      background-size: 55%;
    }

    a.delete-keyframe:hover {
      opacity: 0.9;
      cursor: hand;
    }

    a.delete-keyframe:active {
      opacity: 0.9;
    }
  }

  li.active:hover {
    opacity: 0.9;

    a.delete-keyframe {
      opacity: 0.45;
      cursor: pointer;
    }
  }

  li.active:active {
    opacity: 0.9;
  }
}

.new-keyframe {
  .round-corners();
  .opacity(0.55);

  background-color: #696969;
  border: 1px solid #858585;
  width: 110px;
  height: 81px;
  overflow: hidden;
  position: relative;
  left: 11px;
  bottom: -11px;
  transition:opacity .2s;


  &:hover {
    opacity: 0.9;
    cursor: pointer;
    border: 1px solid #3a3a3a;
  }

  span {
    font-size: 88px;
    display: block;
    padding-top: 20px;
    padding-left: 29px;
    background-color: transparent;
    font-weight: 900;
  }
}
