.keyframe-list {
  counter-reset: numList;
  margin: 10px 0 0 205px;

  li {
    .round-corners();
    .opacity(0.84);

    display: inline;
    float: left;
    margin-left: 12px;
    width: 110px;
    height: 60px;
    z-index: 1000 !important;
    border: 1px solid #515154;
    background-color: #76767a;

    div {
      width: 110px;
      height: 60px;
    }
  }

  li.active {
    .opacity(1.0);
    
    border: 1px solid @slidePreviewActiveBgBegin;
  }
}
