.modal {
  width: 920px;
  margin-left: -460px;
  overflow-x:hidden;

  h3 {
    font-size: 16px;
  }

  .modal-header.inline {
    h3 {
      display: inline;
    }

    .nav {
      width: 300px;
      float: right;

      li {
        float: right
      }
    }
  }

  .modal-body {
    padding: 0 !important;
    width: 100%;

    .tab {
      padding: 15px;
      padding-top: 0;
    }
  }

  .modal-footer form {
    position: relative;
    top: 8px;
  }

  .search {
    float: left;
  }

  div div form {
    height: inherit;
    margin-bottom: 0;
  }
}

#image-picker {
  margin-bottom: 25px;

  .modal-header {
    text-align: left !important;
  }


  a.btn.btn-primary {
    float: right;
    margin-bottom: 25px;
  }

  ul {
    padding: 0 0 0 15px;
    list-style: none;
    height: 245px;
    margin: 20px 40px;

    li {
      display: inline-block;
      width: 50px;
      text-align: center;
      padding: 20px !important;
      margin: 0 50px 0 0;
    }

    li:last {
      margin-right: 0;
    }

    a.selected {
      border-color: lighten(@blue, 25%);
    }
  }

  .table-fixed {
    table-layout: fixed;
  }

}

.content-modal {
  width:  @appSettingsModalWidth;
  margin-left:-(@appSettingsModalWidth/2);

  fieldset {
    margin: 30px 0 0 80px;
  }
}

.asset-library-modal {
  width:  @assetUploaderModalWidth;
  margin-left:-(@assetUploaderModalWidth/2);
  position: absolute !important;
  top: 50px !important;

  form {
    margin: 0;
    padding: 0;
  }

  .modal-body {
    min-height: 150px;
    padding: 0 !important;
  }

  .fileupload-buttonbar {
    margin-top: 4px;
    margin-bottom: 14px;
  }

  .fileinput-button {
    float: right;
    position: absolute;
    top: 19px;
    right: 147.1px;
  }

  .table {
    width: 100% !important;
  }

  td {
    vertical-align: middle;
    padding: 2px;
  }

  td.delete {
    text-align: right;

    button {
      margin-right: 20px;
    }
  }

  td.start {
    button {
      width: 78px;
    }
  }

  td.cancel {
    padding-right: 26px !important;
    text-align: right;

    button {
      width: 100px;
      margin-left: 25px;
    }
  }

  td.start button {
    position: relative;
    right: -23px !important;
  }

  td.preview, td.name {
    //width: 115px;
  }

  td.preview {
    text-align: center;
  }

  td.error span {
    margin-right: 10px;
    position: relative;
    top: -2px;
  }

  .template-upload, .template-download {
    table {
      width: 750px;
    }
  }
}
