.modal{
  width: 920px;
  margin-left: -460px;

  h3 {
    font-size: 14px;
  }
}

.modal .modal-footer form {
  position: relative;
  top: 8px;
}

.content-modal {
  width:  @appSettingsModalWidth;
  height: @appSettingsModalHeight;
  margin-left:-(@appSettingsModalWidth/2);

  .form-actions {
    .round-corners-bottom();

    position: absolute;
    bottom: 0;
    width: @appSettingsModalWidth - 36px;
    padding: 18px;
    text-align: right;
    margin: 0;
  }

  fieldset {
    margin: 30px 0 0 80px;
  }
}

#image-upload-modal {

  width:  @assetUploaderModalWidth;
  height: @assetUploaderModalHeight;
  margin-left:-(@assetUploaderModalWidth/2);
  position: absolute !important;
  top: 300px !important;

  form {
    margin: 0;
    padding: 0;
    height:  260px;
  }

  .modal-body {
    min-height: 260px;
  }

  td.delete {
    text-align: right;
  }

}

.template-upload  table, .template-download table {
  width: 780px;
}
.template-upload td.cancel, .template-download td.cancel, .template-upload td.start, .template-download td.start {
  text-align: right;
  padding-right: 26px;
}