.modal {
  width: 920px;
  max-height: 100%;
  margin-left: -460px;
  overflow-x:hidden;

  h3 {
    font-size: 16px;
  }

  .modal-body {
    padding: 0 !important;
  }

  .modal-footer form {
    position: relative;
    top: 8px;
  }

  .search {
    float: left;
  }

  div div form {
    height: inherit;
    margin-bottom: 0;
  }
}

#image-picker {
  .modal-header {
    text-align: left !important;
  }

  ul {
    padding: 0 0 0 15px;
    list-style: none;
    height: 245px;
    margin: 20px 40px;

    li {
      display: inline-block;
      width: 50px;
      text-align: center;
      padding: 20px !important;
      margin: 0 50px 0 0;
    }

    li.zoomable {
      .ease();

      position: relative;
      z-index:200;
    }

    li.zoomable:hover, li.zoomed-in {
      .scale();
    }

    li.scaled {
      .scale();
    }

    li:last {
      margin-right: 0;
    }

    a.selected {
      border-color: lighten(@blue, 25%);
    }
  }

  tr.selected {
    border: 2px solid;
    border-color: lighten(@blue, 25%);
  }

  tr.image-row {
    cursor: pointer;

    td.name {
      overflow: auto;
    }
  }

  .btn-primary, .btn-success {
    padding: 12px;
  }

  .use-image.disabled {
    background-color: #C5C4C3;
    text-shadow: none;
  }

  .btn {
    text-shadow: 1px 1px 1px @white;
  }

  .use-image, .btn-success {
    text-shadow: 1px 1px 1px @black;
  }

  .btn-success {
    text-shadow: 1px 1px 1px @grayDark;
  }

  .table-fixed {
    table-layout: fixed;
  }

  text-align: center;
}

.content-modal {
  width:  @appSettingsModalWidth;
  margin-left:-(@appSettingsModalWidth/2);

  fieldset {
    margin: 30px 0 0 80px;
  }
}

.asset-library-modal {
  width:  @assetUploaderModalWidth;
  margin-left:-(@assetUploaderModalWidth/2);
  position: absolute !important;
  top: 300px !important;

  form {
    margin: 0;
    padding: 0;
  }

  .modal-body {
    min-height: 150px;
    padding: 0 !important;
  }

  .fileupload-buttonbar {
    margin-top: 4px;
    margin-bottom: 14px;
  }

  .fileinput-button {
    float: right;
    position: absolute;
    top: 18px;
    z-index: 9000;
    right: 9px;
  }

  .table {
    position: relative;
    top: -49px;
  }

  td {
    vertical-align: middle;
    padding: 2px;
  }

  td.delete {
    text-align: right;

    button {
      margin-right: 20px;
    }
  }

  td.start {
    button {
      width: 78px;
    }
  }

  td.cancel {
    padding-right: 26px !important;
    text-align: right;

    button {
      width: 100px;
      margin-left: 25px;
    }
  }

  td.start button {
    position: relative;
    right: -23px !important;
  }

  td.preview, td.name {
    //width: 115px;
  }

  td.preview {
    text-align: center;
  }

  td.error span {
    margin-right: 10px;
    position: relative;
    top: -2px;
  }

  .template-upload, .template-download {
    table {
      width: 750px;
    }
  }
}
