.scene-list {
  margin-left: 15px;
  height: 500px;
  overflow: hidden;
  /* background-image: asset-url('scene-list-bg.png'); */
  background-repeat: no-repeat;
  background-position: 30px center;

  li {
    .round-corners();

    width: @slidePreviewWidth;
    padding: @slidePreviewPadding;
    height: @slidePreviewHeight;
    list-style: none;
    background-color: @grayDark;
    margin-top: 10px;
    z-index: 10 !important;
    position: relative;
    top: 127px;
    opacity: 0.3;

    span.scene-frame {
      display: block;
      height: @slidePreviewHeight;
      width: @slidePreviewWidth;
      background-color: #131312;
      background-position: center center;
      background-size: 110%;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 20;
    }
  }

  li.first {
    margin-top: 0;
  }

  li.active {
    .gradient(@slidePreviewActiveBgBegin, @slidePreviewActiveBgEnd);

    opacity: 1.0;


    a.delete {
      display: block;
      position: absolute;
      top: 90px;
      right: 10px;
      padding: 5px;
      z-index: 90 !important;
    }
  }

}
