#scene-list {
  top: 82px;
  z-index: 1000 !important;
  position: relative;
}

.scene-list::-webkit-scrollbar {
  display: none;
}

.scene-list {
  margin-left: 15px;
  height: 500px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  background-repeat: no-repeat;
  background-position: 30px center;
  position: relative;
  top: -8px;

  li {
    .round-corners();

    position: relative;
    list-style: none;
    z-index: 10 !important;
    margin-top: 10px;
    padding: @slidePreviewPadding;
    background-color: @grayDark;

    .scene-frame {
      display: block;
      z-index: 20;
      background-color: @white;
      cursor: default;
    }

    &, .scene-frame {
      width: 150px;
      height: 112px;
    }

    .title {
      display:none
    }

    .page-number {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: @grayDark;
      font-size: 20px;
      font-family: 'Arial Black';
      z-index: 100;
    }
  }

  li.first {
    margin-top: 0;
  }

  li.main_menu {
    background-color: #231;

    span {
      cursor: default;
    }
  }

  li.active {
    .gradient(@slidePreviewActiveBgBegin, @slidePreviewActiveBgEnd);

    opacity: 1.0;
    background-color: @slidePreviewActiveBgEnd;

    span.page-number {
      color: @slidePreviewActiveBgEnd;
    }

    a.delete {
      opacity: 0;
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 6px;
      right: 6px;
      padding: 5px;
      z-index: 90 !important;
      background: asset-url('red-minus.png') no-repeat center;
      background-size: 65%;
    }
  }

  li span:hover {
    .grab()
  }

  li span:active {
    .grabbing()
  }

  li.active:hover {

    a.delete {
      opacity: 0.45;
      cursor: pointer;
    }
  }

  li.active a.delete:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.scene-list.list-view {
  li {
    height: 12px;
    line-height: 9px;
    background-image: none;
    padding: 0;

    img {
      display: none;
    }

    span {
      height: inherit;
    }

    span.title {
      position: relative;
      z-index:100;
      display: inline;
      font-weight: 100;
      font-family: Arial;
      color: black;
    }

    span.page-number {
      position: relative;
      font-family: Arial;
      font-size: 14px;
      bottom: 0;
      left: 0;
      color: black;
    }

    span.scene-frame {
      background-color: #aeb0b6;
    }
  }

  li.active {
    a.delete {
      top: -7px;
      right: -26px;
      background-size: 50%;
    }

    span.page-number {
      color: blue;
    }

    span.title {
      color: blue;
    }
  }

  li.active:hover span {
    cursor: default !important;
  }
}

#list-view-toggle {
  .scale(0.5);
  .round-corners();

  border: 1px solid #747474;
  margin-left: 134px;
  font-size: 11px;
  position: absolute;
  right: -7px;
  top: -8px;
  -webkit-transform-origin-y: 2;
  z-index: 15;
  opacity: 0.5;

  .btn-group {
    margin: 0;
  }

  span:hover {
    cursor: pointer;
  }

  span.active {
    font-weight: bold;
  }

  span.active:hover {
    cursor: default;
  }
}

#list-view-toggle:hover {
  top: -2px;
  right: -5px;
  -webkit-transform-origin-y: 2;
  -webkit-transform: scale(0.8);
  opacity: 1;
}
