/*
  Styles for widgets / widge-related objects on or over the DOM
*/

.text-widget {
  .scale(0.57);

  /* keep text left when typing in scaled element */
  transform-origin:0% 0%;
  -webkit-transform-origin:0 0;

  /* fix for weird border from contentEditable in some browsers */
  outline: none;

  position:absolute;
  left: 50% !important;
  top: 585px !important;
  padding: 10px;
  line-height: 1em;
  min-width: 40px;
  text-align: left;
  border: 2px dashed #b6b6b6;
  color: red;
}

/* Helps prevent line breaks when editing text widgets */
[contenteditable="true"].text-widget br {
  display: none;
}

[contenteditable="true"].text-widget * {
  display: inline;
}

.text-widget:hover {
  cursor: text;
}
