/*
  Styles for widgets / widge-related objects on or over the DOM
*/

.text-widget-editor {

  position:absolute;
  top: 587px !important;

  .editable {
    .scale(0.57);
    position: relative;
    padding: 10px;
    line-height: 1em;
    border: 2px dashed #b6b6b6;
    /* fix for weird border from contentEditable in some browsers */
    outline: none;

    div {
      white-space: nowrap;
    }
  }

  &.align-left {
    left: 50%;
    text-align: left;

    .editable {
      transform-origin: left top;
      -webkit-transform-origin: left top;
    }
  }

  &.align-center {
    left: 50%;
    text-align: center;

    .editable {
      left: -50%;
      transform-origin: center top;
      -webkit-transform-origin: center top;
    }
  }

  &.align-right {
    right: 50%;
    text-align: right;

    .editable {
      transform-origin: right top;
      -webkit-transform-origin: right top;
    }
  }


}

