nav.toolbar {
  .gradient(@fileMenuBgStart, @fileMenuBgEnd);

  height: 71px;
  text-align: center;

  ul, ul li ul {
    margin-right: 20px;
    margin-left: 10px;
  }

  ul li {
    .horizontal-menu;

    ul li {
      .scale(0.76);

      width: 63px;
      height: 70px;
      position: relative;
      top: -14px;
      background-image: asset-url('toolbar.png');

      list-style-type:none;
      display:inline;
    }

    ul {
      li.scene {
        background-position: 0 0;
      }

      li.keyframe {
        background-position: @toolbarItemWidth*-1 0;
      }

      li.animation-keyframe {
        background-position: @toolbarItemWidth*-1 0;
      }

      li.edit-text {
        background-position: @toolbarItemWidth*-2 0;
      }

      li.add-image {
        background-position: @toolbarItemWidth*-4 0;
      }

      li.sync-audio {
        background-position: @toolbarItemWidth*-2 0;
      }

      li.actions {
        background-position: @toolbarItemWidth*-5 0;
      }

      li.background-sound {
        line-height: 12px;
        background-position: @toolbarItemWidth*-8 0;
      }

      li.background-sound.has-sound {
        background-position: (@toolbarItemWidth*-8)-1 @toolbarHeight*2;
      }

      li.scene-options {
        background-position: @toolbarItemWidth*-10 0;
        white-space: nowrap;
      }

      li.logo {
        background: none !important;
        margin: 4px 10px 0 12px;
        top: 0;
        opacity: 0.35;

        transition:opacity .35s;

        a {
          margin-top: 0;
        }
      }

      li.logo:hover {
        opacity: 0.85;
      }

      li.scene.active {
        background-position: 0 @toolbarHeight;
      }

      li.keyframe.active {
        background-position: @toolbarItemWidth*-1 @toolbarHeight*2;
      }

      li.animation-keyframe.active {
        background-position: @toolbarItemWidth*-1 @toolbarHeight*2;
      }

      li.edit-text.active {
        background-position: @toolbarItemWidth*-2 @toolbarHeight*2;
      }

      li.add-image.active {
        background-position: @toolbarItemWidth*-4 @toolbarHeight*2;
      }

      li.sync-audio.active {
        background-position: @toolbarItemWidth*-2 @toolbarHeight*2;
      }

      li.touch-zones.active {
        background-position: @toolbarItemWidth*-3 @toolbarHeight*2;
      }

      li.videos.active {
        background-position: @toolbarItemWidth*-6 @toolbarHeight*2;
      }

      li.actions.active {
        background-position: @toolbarItemWidth*-5 @toolbarHeight*2;
      }

      li.images.active {
        background-position: @toolbarItemWidth*-7 @toolbarHeight*2;
      }

      li.sounds.active {
        background-position: @toolbarItemWidth*-8 @toolbarHeight*2;
      }

      li.fonts.active {
        background-position: @toolbarItemWidth*-9 @toolbarHeight*2;
      }

      li.options.active {
        background-position: @toolbarItemWidth*-10 @toolbarHeight*2;
      }

      li.scene.disabled {
        background-position: 0 (@toolbarHeight - 2);
      }

      li.keyframe.disabled {
        background-position: @toolbarItemWidth*-1 (@toolbarHeight - 1);
      }

      li.animation-keyframe.disabled {
        background-position: @toolbarItemWidth*-1 (@toolbarHeight - 1);
      }

      li.edit-text.disabled {
        background-position: @toolbarItemWidth*-2 (@toolbarHeight - 1);
      }

      li.add-hotspot.disabled {
        background-position: @toolbarItemWidth*0 (@toolbarHeight - 1);
      }

      li.add-image.disabled {
        background-position: @toolbarItemWidth*-4 (@toolbarHeight - 1);
      }

      li.sync-audio.disabled {
        background-position: @toolbarItemWidth*-2 (@toolbarHeight - 1);
      }

      li.touch-zones.disabled {
        background-position: @toolbarItemWidth*-3 (@toolbarHeight - 2);
      }

      li.videos.disabled {
        background-position: @toolbarItemWidth*-6 (@toolbarHeight - 2);
      }

      li.actions.disabled {
        background-position: @toolbarItemWidth*-5 (@toolbarHeight - 2);
      }

      li.images.disabled {
        background-position: @toolbarItemWidth*-7 (@toolbarHeight - 2);
      }

      li.sounds.disabled {
        background-position: @toolbarItemWidth*-4 (@toolbarHeight - 1);
      }

      li.fonts.disabled {
        background-position: @toolbarItemWidth*-9 (@toolbarHeight - 2);
      }

      li.options.disabled {
        background-position: @toolbarItemWidth*-10 (@toolbarHeight - 2);
      }

      li.disabled a {
        color: #888;
      }

      li.disabled:hover, li.disabled a:hover {
        cursor: default;
      }

      li.disabled a:hover, li.disabled:hover a {
        color:#888 !important;
      }

      li a {
        margin-top: 70px;
        text-align: center;
        font-family: arial, sans-serif;
        font-size: 11px;
        text-shadow: 0px 1px 1px #ffffff;
        color: #333;
        width: @toolbarItemWidth;

        .horizontal-menu;
      }

      li:hover {
        cursor: pointer;
      }

      li:hover a {
        color: #000;
      }

      li a:hover {
        text-decoration:none;
      }
    }
  }

  ul li.toolbar-group.centered {
    float: none !important;
    margin: 0px auto;
    display: inline-block;
  }

  ul li.toolbar-group.last {
    background-image: none;
  }

  ul li.toolbar-group.last.right {
    float: right;
    margin-left: 140px;
    margin-right: 15px;
  }

  .sync-audio a{
    position: relative;
    left: -1px;
    margin-left: 0;
    margin-right: 0;
  }
}
