nav.toolbar {
  .gradient(@fileMenuBgStart, @fileMenuBgEnd);

  background-color: #ccc;
  height: 71px;
  text-align: center;
  border-top: 1px solid #ababab;

  ul, ul li ul {
    margin-right: 20px;
    margin-left: 10px;
  }

  ul li {
    .horizontal-menu;

    ul li {
      .scale(0.76);

      width: 63px;
      height: 70px;
      position: relative;
      top: -14px;
      background-image: asset-url('toolbar.png');

      list-style-type:none;
      display:inline;
    }

    ul {
      li {
        &.scene {
          background-position: 0 0;

          &.disabled {
            background-position: 0 (@toolbarHeight - 2);
          }
        }

        &.keyframe {
          background-position: @toolbarItemWidth*-1 0;

          &.disabled {
            background-position: @toolbarItemWidth*-1 (@toolbarHeight - 1);
          }
        }

        &.edit-text {
          background-position: @toolbarItemWidth*-9 4px;

          &.disabled {
            background-position: (@toolbarItemWidth*-9)+3 (@toolbarHeight - 1) + 2;
          }

        }

        &.background-sound {
          line-height: 12px;
          background-position: @toolbarItemWidth*-8 0;

          &.has-sound {
            background-position: (@toolbarItemWidth*-8)-1 @toolbarHeight*2;

            &.disabled {
              background-position: @toolbarItemWidth*-4 (@toolbarHeight - 1);
            }
          }
        }


        &.compile-android {
          background-position: @toolbarItemWidth*-12 0;

          a {
            padding-top:2px;
            line-height: 11px;
          }
        }

        &.compile-ios {
          background-position: @toolbarItemWidth*-13 0;
        }


        &.scene-options {
          background-position: @toolbarItemWidth*-10 0;
          white-space: nowrap;
        }

        &.logo {
          background: none !important;
          margin: 4px 52px 0 12px;
          top: 0;
          opacity: 0.6;

          transition:opacity .2s;

          a {
            margin-top: 0;
          }
        }

        &.logo:hover {
          opacity: 0.85;
        }

        a {
          .horizontal-menu;

          margin-top: 70px;
          text-align: center;
          font-family: arial, sans-serif;
          font-size: 11px;
          text-shadow: 0px 1px 1px #ffffff;
          color: #333;
          width: @toolbarItemWidth;

          &.disabled a {
            color: #888;
          }

          &.disabled:hover, li.disabled a:hover {
            cursor: default;
          }

          &.disabled a:hover, li.disabled:hover a {
            color:#888 !important;
          }
        }
      }

      li a:hover {
        text-decoration:none;
      }

      li:hover {
        cursor: pointer;
      }

      li:hover a {
        color: #000;
      }
    }
  }

  ul li.toolbar-group.centered {
    float: none !important;
    margin: 0px auto;
    display: inline-block;
  }

  ul li.toolbar-group.last {
    background-image: none;
  }

  ul li.toolbar-group.last.right {
    float: right;
    margin-left: 140px;
    margin-right: 15px;
  }

  .sync-audio a{
    position: relative;
    left: -1px;
    margin-left: 0;
    margin-right: 0;
  }
}
