%ul.nav.nav-tabs
  %li.scene-tab.active
    = link_to "&nbsp;Scenes&nbsp;".html_safe, "#scene-list", "data-toggle" => "tab"
  %li.keyframe-tab
    = link_to "Keyframes", "#keyframe-list", "data-toggle" => "tab"
.tab-content
  #scene-list.tab-pane
    %ul.scene-list
    #list-wrapper
  #keyframe-list.tab-pane
    %ul.keyframe-list
    #list-wrapper