%ul#toolbar
  %li.toolbar-group
    %ul.first-toolbar-group
      %li.scene.add-scene.disabled
        %a{:href => '#'} Scene
      %li.animation-keyframe.disabled
        %a.add-animation-keyframe{:href => '#'} Animation intro
      %li.keyframe.disabled
        %a.add-keyframe{:href => '#'} Keyframe

  -#%li.toolbar-group
    -#%ul
      -#%li.actions
        -#= link_to "Create Action", '#'

  %li.toolbar-group
    %ul
      %li.edit-text.disabled
        %a.add-text{:href => '#'} Add Text
      %li.add-hotspot.disabled
        %a{:href => '#'} Add Hotspot
      %li.add-image.disabled
        = link_to "Add Image", "#", {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true}

  %li.toolbar-group.last
    %ul
      %li.scene-options.disabled
        = link_to "Scene Options", "#"
      %li.sync-audio.disabled
        = link_to "Sync Audio", "#"

  %li.toolbar-group.preview
    %ul
      %li.preview.disabled
        %a.show-preview{:href => '#'} Preview
