%nav.toolbar
  .container
    %ul#toolbar
      %li.toolbar-group.first
        %ul
          %li.scene.add-scene.disabled
            %a{:href => '#'} Scene
          %li.animation-keyframe.disabled
            %a.add-animation-keyframe{:href => '#'} Animation intro
          %li.keyframe.disabled
            %a.add-keyframe{:href => '#'} Keyframe

      %li.toolbar-group.centered
        %ul
          %li.edit-text.disabled
            %a.add-text{:href => '#'} Add Text
          %li.sync-audio.disabled
            = link_to "Text Voiceover", "#"
          %li.add-hotspot.disabled
            %a{:href => '#'} Add Hotspot


      %li.toolbar-group.last.right
        %ul
          %li.scene-options.disabled
            = link_to "Scene Options", "#"

%nav.bottom-bar
  %div#font-menu-buttons.container