!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    :css
      .address { font-style: 'italic'; }

  %body
    = yield

    %br
    Sincerly
    %br

    %p.address
      Authorly
    %p.address
      8560 W. Sunset Boulevard
    %p.address
      10th Floor Penthouse
    %p.address
      West Hollywood, CA 90069
