- content_for :head do
  = javascript_include_tag :detectmobilebrowser
  :javascript
    if ($.browser.mobile) {
      window.location = "#{page_path 'mobile_not_supported'}"
    } else if ((/Trident/).test(navigator.userAgent) || !($.browser.webkit || $.browser.mozilla)) {
      // IE 10 and 11 try to sneak in as Mozilla
      window.location = "#{page_path 'browser_not_supported'}"
    }

= render template: 'layouts/application'

