- content_for :head do
  = javascript_include_tag :detectmobilebrowser
  :javascript
    if ($.browser.mobile) {
      window.location = "#{page_path 'mobile_not_supported'}"
    } else if !($.browser.webkit || $.browser.mozilla) {
      window.location = "#{page_path 'browser_not_supported'}"
    }

= render template: 'layouts/application'

